@font-face {
    font-family: SubwayPixels;
    src: url("Fonts/slkscr.ttf");
}

body {
    background-color: #343d46;
}

.list-padding {

padding: 50px;

}

.Skill-Sign {

    color: yellowgreen;
    font-size: 28px;
    font-family: SubwayPixels;

}

.subway-fill {

    background-color: #0e0d13;
}

.second-color-scheme {

    background-color: #4f5b66;
}

/* * {
    border: 1px solid red;
} */

/* div {
    background-color: green;
} */

/* doesnt work for some reason
.First-Name-Box > label {
    padding: 80px;
}
*/