@font-face {
    font-family: SubwayPixels;
    src: url("Fonts/slkscr.ttf");
}

@font-face {
    font-family: CleanMainPage;
    src: url("Fonts/NotoSerif-Regular.ttf");
}


body {

    background-color: #343d46;
    
}


.Simple-Intro {

    font-family: CleanMainPage;

}

.Heading-Sizer {

    font-size: 64px;
}


.list-padding {

padding: 50px;

}

.Skill-Sign {

    color: yellowgreen;
    font-size: 28px;
    font-family: SubwayPixels;

}

.Skill-Heading {
    
    text-align: center;
    padding-top: 20px;
    font-family: CleanMainPage;

}

.subway-fill {

    background-color: #050404;
}

.second-color-scheme {

    background-color: #bbbbbb;
}

/* * {
    border: 1px solid red;
} */

/* div {
    background-color: green;
} */

/* doesnt work for some reason
.First-Name-Box > label {
    padding: 80px;
}
*/